name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Check that documentation is valid
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: |
            docs/**/*.md
            README.md
            */README.md

  # Verify proto file is valid
  proto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Validate proto
        run: protoc --proto_path=docs/schemas --descriptor_set_out=/dev/null docs/schemas/sync.proto
